@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
  margin: 0;
  font-family:Arial, Helvetica, sans-serif
}
body{
  background-color: rgb(49, 49, 49);
  margin: 0;
}
.App {
  text-align: center; 
}
main{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}
header{
  z-index: 100;
}
.banner{
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: auto;
  overflow: hidden;
}
.banner h1{
  text-shadow: 0 0 10px rgb(92, 111, 198);
  font-size: 60px;
  color: white;
}
.banner p{
  font-size: 3vh;
  padding: 4%;
}
.leftpanel{
  background-color: rgb(46, 46, 201);
  display: block;
  padding: 20vh 0;
  float: left;
  /* height: 55vh; */
}
.leftpanel .logo img{
  width: 80%;
}
.rightpanel {
  background-color: #fff;
  background-image: url(http://localhost:3000/static/media/worker.d9a5af9e3dfaffe34edb.png);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  object-fit: cover;
  height: 100%;
  padding: 10% 0 0 ;
}
.leftpanel h2{
  color: rgb(253, 253, 253);
  padding: 10px 0;
  width: 90%;
  margin: 0 auto;
}

.app-header{
  width: 100%;
  height: 6vh;
  position: fixed;
  align-items: center;
  justify-content: center;
  align-items: center;
  grid-template-columns:  1fr 1fr;
  top: 0;
  padding: 5px 0 0;
}
.header-bg{
  background-color: rgb(82, 106, 226);
  width: 100%;
  height: 6vh;
  position: absolute;
  display: block;
  opacity: .9;
  z-index: -1;
  top: 0;
}
.header-wrap{
  z-index: 20;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns:  1fr 4fr;
}

.logo{
  float: left;
  display: block;
  padding: 7%;
  color:#fff;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li{
  display: inline;
  list-style: none;
  margin: 0 20px;
}

nav ul li a,nav ul li a:visited{
  text-decoration: none;
  color: white;
}

form{
  padding: 30%;
}

.projects{
  width: 100%;
  background-color: rgb(176, 210, 253);
  padding: 10vh 0  0;
}
.contact{
  width: 100%;
  background-color: rgb(111, 112, 114);
  height: 20vh;
  padding: 10vh 0 ;
}
footer{
  background-color: rgb(46, 46, 201);;
  padding: 2% 0 ;
  color: #fff;
}
.projects h1{
  color: rgb(49, 49, 49);
  font-size: 40px;
  text-shadow: 0 0 20px rgb(255, 255, 255);
}
.projects section{
  padding: 20px;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.projects article {
  padding: 5vh 5vh 20vh; 
  background-color: #fff;
}


.rightpanel{
  background-color: #222;
  background-image: url('images/worker.png');
  background-repeat: no-repeat;
  background-blend-mode:overlay ;
  background-position-y: -10%;
}
.services{
  background-color: #f59a1a;
}

.services h1{
  color: white;
  font-size: 40px;
  /* text-shadow: 0 0 20px rgb(255, 255, 255); */
  padding: 8% 0 2%;
}

.services-wrap{
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 2%;
}

.services section{
  width: 100%;
  margin: 0 auto;
}

.services article{
  border: 1px solid gray;
  margin: 4%;
  border-radius: 5px;
  padding: 3% 0 ;
  font-size: 16px;
  position: relative;
}
.checkmark {
  background-image: url('https://ik.imagekit.io/zhmk2wx4u/checkmarks_WOxH_XtSG.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1670251041521');
  width: 70px;
  height: 70px;
  display: block;
  position: absolute;
  background-size: 100%;
  background-position: 36px 0;
  background-repeat: no-repeat;
  left: -54px;
  bottom: -20px;
}
.rightpanel{
  color:#fff;
}

.rightpanel span{
  color:#f59a1a;
  font-size: 28px;
  display: block;
  padding: 30px 0;
}
.feature{
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.feature div{
  color: darkslategrey;
  font-weight: bold;
  font-size: 20px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid darkslategray;
  margin: 10%;
  font-style: italic;
}

.beforeAfter{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 800px) {
  .feature{
    grid-template-columns: 1fr;    
  }
  .app-header, .header-bg {
    height: 55px;
    top: 0;
    width: 100%;
  }
  .feature div{
    height: 100px;
    margin: 0;
  }
  .rightpanel p {
    font-size: 24px;
  }
  .services-wrap{
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .banner h1{
    font-size: 40px;
    padding: 10% 0 0 ;
  }
  .app-header nav{
    display: none;
  }
  .banner{
    grid-template-columns: 1fr;
    height: auto;
  }
  .leftpanel{
    display: none;
  }
  .rightpanel{
    background-position-x: 40%;
  }
  .projects section{
    grid-template-columns: 1fr;
  }
}

